/* Left Panel */
.left-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Sections Styling */
.upload-section, .settings, .quiz-preview {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Upload section styling */
.upload-section textarea {
		height: 25vh;
		resize: vertical;
}

/* Note stats section */
.stats-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.stats-title {
    width: 10%;
    font-weight: bold;
}

.stats-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    font-size: small;
}

/* Error message styling */
.error-message {
    color: red;
    font-size: 0.9em;
    display: block;
    height: 1.2em;
}

