<aside class="sidebar">
    <button id="toggle-sidebar">
        <span class="nav-text">auto</span>
        <i class="fas fa-lg fa-q"></i>
        <span class="nav-text">uiz</span>
    </button>

    <nav>
        <ul>
            <li><a href="#"><i class="fas fa-home fa-2xl"></i> <span class="nav-text">Home</span></a></li>
            <li><a href="#"><i class="fas fa-upload"></i> <span class="nav-text">Upload Notes</span></a></li>
            <li><a href="#"><i class="fas fa-cogs"></i> <span class="nav-text">Sectioning Settings</span></a></li>
            <li><a href="#"><i class="fas fa-sliders-h"></i> <span class="nav-text">Quiz Settings</span></a></li>
            <li><a href="#"><i class="fas fa-history"></i> <span class="nav-text">History</span></a></li>
        </ul>
    </nav>
</aside>